<div class="loading-overlay" id="loadingOverlay">
    <div class="loading-content">
        <div class="loading-spinner"></div>
        <div id="loadingText">Đang tải tài liệu...</div>
    </div>
</div>